/* Custom font for headers. */

@font-face {
    font-family: 'ChunkFiveRoman';
    src: url('../fonts/chunkfive-webfont.eot');
    src: local('?'), url('../fonts/chunkfive-webfont.woff') format('woff'), url('../fonts/chunkfive-webfont.ttf') format('truetype'), url('../fonts/chunkfive-webfont.svg#webfontEUvSma4K') format('svg');
    font-weight: normal;
    font-style: normal;
}